# Allow direct access to Vite-generated CSS, JS, and other static assets

<IfModule mod_authz_core.c>
  Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
</IfModule>

<IfModule mod_mime.c>
  AddType text/css .css
  AddType application/javascript .js
</IfModule>
